{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Winkle I Fast build Admin dashboard for any platform</title>
		<meta name="description" content="Winkle is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Winkle Admin, Winkleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="{% static 'admin_panel/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'admin_panel/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'admin_panel/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'admin_panel/bower_components/sweetalert/dist/sweetalert.css' %}" rel="stylesheet" type="text/css"/>

		
		
		<!-- Custom CSS -->
		<link href="{% static 'admin_panel/css/style.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper  pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="base_dash_panel.html">
						<img class="brand-img mr-10" src="{% static 'img/logo_white_200.png' %}" alt="brand"/>
					</a>
				</div>
{#				<div class="form-group mb-0 pull-right">#}
{#					<span class="inline-block pr-10 txt-light-grey">Don't have an account?</span>#}
{#					<a class="inline-block btn btn-warning  btn-rounded " href="signup.html">Sign Up</a>#}
{#				</div>#}
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Вход в систему</h3>
{#											<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>#}
										</div>	
										<div class="form-wrap">
											<form id="login_form" method="POST">{% csrf_token %}
												<div class="form-group">
													<label class="control-label mb-10" for="login">Логин</label>
													<input class="form-control" required="" id="login" name="login" placeholder="Введите логин">
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="password">Пароль</label>
{#													<a class="capitalize-font txt-orange block mb-10 pull-right font-12" href="forgot-password.html">forgot password ?</a>#}
													<div class="clearfix"></div>
													<input type="" class="form-control" required="" id="password" name="password" placeholder="Введите пароль">
												</div>
												
												<div class="form-group">
													<div class="checkbox checkbox-primary pr-10 pull-left">
														<input id="checkbox_2" required="" type="checkbox">
														<label for="checkbox_2"> Оставаться в системе</label>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="form-group text-center">
													<button id="submit" type="submit" class="btn btn-warning  btn-rounded">войти</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="{% static 'admin_panel/bower_components/jquery/dist/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'admin_panel/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'admin_panel/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>

		<script src="{% static 'admin_panel/bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>

		<!-- Slimscroll JavaScript -->
		<script src="{% static 'admin_panel/js/jquery.slimscroll.js' %}"></script>
		
		<!-- Init JavaScript -->
		<script src="{% static 'admin_panel/js/init.js' %}"></script>
		<script src="{% static 'admin_panel/js/jquery.cookie.js' %}"></script>

        <script>
            $('#submit').on('click', function (e) {
                e.preventDefault();
                console.log('submit');
                if ($('#login').val() == '' || $('#password').val() == ''){
                    swal({
                        title: 'Ошибка',
                        text: 'Email и пароль должны быть указаны',
                        type: 'error',
                        confirmButtonText: 'Ok',
                        closeOnConfirm: false
                    });
                }else {
                    var formdata = new FormData($('#login_form').get(0));
                    $.ajax({
                        url: "{% url 'dash_panel:dash_panel_login' %}",
                        type: 'POST',

                        data: formdata,


                        processData: false,
                        contentType: false,
                        error: function(data){
                            console.log('error' + data);
                        },
                        success:function (data) {
                            console.log("data - " + data);
                            if (data == 'error'){
                                swal({
                                    title: 'Ошибка',
                                    text: 'Email или пароль указаны не верно',
                                    type: 'error',
                                    confirmButtonText: 'Ok',
                                    closeOnConfirm: false
                                });

                            }else {
                                console.log($('#checkbox_2').prop('checked'));
                                if ($('#checkbox_2').prop('checked') == true){
                                    $.cookie('login', $('#login').val(), {path: '/'});
                                    $.cookie('password', $('#password').val(), {path: '/'});

                                }

                                swal({
                                    title: 'Пользователь найден',
                                    text: 'Удвление прошло успешно.',
                                    type: 'success',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Ок',
                                    closeOnConfirm: true,
                                });

                                window.location.href = '/dash_panel/index_';
{#                                window.location.href = '/dash_panel/' + data;#}
                            }
                        }
                    });

                }

            })

        </script>
	</body>
</html>
