{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
    <head>
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>ДЭЛЛИНА - строительная компания</title>
        <meta name="description" content="Монтаж внутренних и внешних инженерных сетей, ремонтные и отделочные работы, земляные работы, устройство фундаментов, стен и перекрытий, монолитные работы, монтаж металлоконструкций, проектирование объектов любого вида и функций">
        <meta name="keywords" content="Архитектура, проектирование, строительство, монтаж, реставрация, пуско-наладка, электромонтаж">
{#        <meta name="author" content="blogwp.com">#}

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Theme Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cubeportfolio.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vegas.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin_panel/css/mycss.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animsition.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/alertify.min.css' %}">

        <!-- Favicon and touch icons  -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'icon/apple-touch-icon-158-precomposed.png' %}">

        {% block links %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">

                <div id="site-header-wrap">
                    <!-- Top Bar -->
                    <div id="top-bar" class="style-2 background-9a9a9a-imp">
                        <div id="top-bar-inner" class="container">
                            <div class="top-bar-inner-wrap">

                                <div class="">
                                    <div class="inner">
                                        <span class="icons">
                                            <a title="Experience">ОПЫТ |</a>
                                            <a title="In time"> СРОКИ | </a>
                                            <a title="Quality">КАЧЕСТВО</a>
{#                                            <a href="#" title="Pinterest"><span class="fa fa-pinterest" aria-hidden="true"></span></a>#}
{#                                            <a href="#" title="Dribbble"><span class="fa fa-dribbble" aria-hidden="true"></span></a>#}
                                        </span>
                                    </div>
                                </div><!-- /.top-bar-socials -->

                                <div class="top-bar-content">
                                    <span id="top-bar-text">
                                        <i class="fa fa-phone-square"></i>{{ company_tel }}
                                        <i class="fa fa-envelope"></i><a href="mailto:{{ company_email }}">{{ company_email }}</a>
                                        <i class="fa fa-clock-o"></i>Пн-Пт: 9:00 - 18:00
                                    </span><!-- /#top-bar-text -->
                                </div><!-- /.top-bar-content -->
                            </div>
                        </div>
                    </div><!-- /#top-bar -->

                    <!-- Header -->
                    <header id="site-header" class="header-front-page style-5 background-9a9a9a-imp">
                        <div id="site-header-inner" class="container padding-8">
                            <div class="wrap-inner">
                                <div id="site-logo" class="clearfix">
                                    <div id="site-logo-inner">
                                        <a href="{% url 'index' %}" title="Construction" rel="home" class="main-logo">
                                            <img style="height: 40px; width: 115px" src="{% static 'img/logo2_white_40.png' %}" alt="Dellina logo" data-retina="{% static 'img/logo2_white_40.png' %}" data-width="200" data-height="30">
                                        </a>
                                    </div>
                                </div><!-- /#site-logo -->

                                <div class="mobile-button"><span></span></div><!-- //mobile menu button -->

                                <nav id="main-nav" class="main-nav right-0-imp">
                                    <ul class="menu">

{#                                        <li class="menu-item menu-item-has-children current-menu-item"><a href="home-slider-full-screen.html">Home</a>#}
{#                                            <ul class="sub-menu">#}
{#                                                <li class="menu-item"><a href="home-slider-full-screen.html">Home 1 - Full Slider</a></li>#}
{#                                                <li class="menu-item"><a href="home-slider-simple.html">Home 1 - Simple Slider</a></li>#}
{#                                                <li class="menu-item"><a href="home-hero-slideshow.html">Home 1 - Slideshow 1</a></li>#}
{#                                                <li class="menu-item"><a href="home-hero-slideshow-2.html">Home 1 - Slideshow 2</a></li>#}
{#                                                <li class="menu-item"><a href="home-header-fixed.html">Home 1 - Header Fixed</a></li>#}
{#                                                <li class="menu-item"><a href="home-2-slider-simple.html">Home 2 - Simple Slider</a></li>#}
{#                                                <li class="menu-item"><a href="home-3-hero-slideshow.html">Home 3 - Slideshow</a></li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li class="menu-item menu-item-has-children"><a href="#">Pages</a>#}
{#                                            <ul class="sub-menu">#}
{#                                                <li class="menu-item"><a href="page-contact.html">Contact</a></li>#}
{#                                                <li class="menu-item"><a href="page-about.html">About Us</a></li>#}
{#                                                <li class="menu-item"><a href="page-about-2.html">About Us 2</a></li>#}
{#                                                <li class="menu-item"><a href="page-services.html">Services</a></li>#}
{#                                                <li class="menu-item"><a href="page-services-2.html">Services 2</a></li>#}
{#                                                <li class="menu-item"><a href="page-service-detail.html">Service Detail</a></li>#}
{#                                                <li class="menu-item"><a href="page-shop.html">Shop</a></li>#}
{#                                                <li class="menu-item"><a href="page-shop-single.html">Shop Single</a></li>#}
{#                                                <li class="menu-item"><a href="page-shop-cart.html">Shop Cart</a></li>#}
{#                                                <li class="menu-item"><a href="blog-single.html">Blog Single</a></li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li class="menu-item menu-item-has-children"><a href="#">Elements</a>#}
{#                                            <ul class="sub-menu">#}
{#                                                <li class="menu-item"><a href="icons.html">Construction Icons</a></li>#}
{#                                                <li class="menu-item"><a href="buttons.html">Buttons</a></li>#}
{#                                                <li class="menu-item"><a href="toggles.html">Toggles</a></li>#}
{#                                                <li class="menu-item"><a href="typography.html">Typography</a></li>#}
{#                                                <li class="menu-item"><a href="galleries.html">Galleries</a></li>#}
{#                                                <li class="menu-item"><a href="iconboxs.html">IconBoxs</a></li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li class="menu-item menu-item-has-children"><a href="#">Наши проекты</a>#}
{#                                            <ul class="sub-menu">#}
{#                                                <li class="menu-item"><a href="page-portfolio-grid.html">Grid</a></li>#}
{#                                                <li class="menu-item"><a href="page-portfolio-grid-fullwidth.html">Grid Full-Width</a></li>#}
{#                                                <li class="menu-item"><a href="page-portfolio-slider.html">Slider</a></li>#}
{#                                                <li class="menu-item"><a href="page-portfolio-slider-fullwidth.html">Slider Full-Width</a></li>#}
{#                                                <li class="menu-item"><a href="page-project-detail.html">Project Detail 1</a></li>#}
{#                                                <li class="menu-item"><a href="page-project-detail-2.html">Project Detail 2</a></li>#}
{#                                                <li class="menu-item"><a href="page-project-detail-3.html">Project Detail 3</a></li>#}
{#                                                <li class="menu-item"><a href="page-project-detail-4.html">Project Detail 4</a></li>#}
{#                                            </ul>#}
{#                                        </li>#}
                                        <li class="menu-item"><a class="cursor-pointer menu_compet">Копметенции</a></li>
                                        <li class="menu-item"><a class="cursor-pointer menu_projects">Проекты</a></li>
                                        <li class="menu-item"><a class="cursor-pointer menu_why_us">Почему мы?</a></li>
                                        <li class="menu-item"><a class="cursor-pointer menu_directions">Деятельность</a></li>
                                        {% if not contacts %}
                                        <li class="menu-item"><a href="{% url 'contacts' %}">Контакты</a></li>
                                        {% endif %}
                                    </ul>
                                </nav><!-- /#main-nav -->

{#                                <div id="header-search">#}
{#                                    <a class="header-search-icon" href="#"><span class="fa fa-search"></span></a>#}
{##}
{#                                    <form role="search" method="get" class="header-search-form" action="#">#}
{#                                        <input type="text" value="" name="s" class="header-search-field" placeholder="Type and hit enter...">#}
{#                                        <button type="submit" class="header-search-submit" title="Search">Search</button>#}
{#                                        <input type="hidden" name="post_type" value="post">#}
{#                                    </form>#}
{#                                </div><!-- /#header-search -->#}

{#                                <div class="nav-top-cart-wrapper">#}
{#                                    <a class="nav-cart-trigger" href="#">#}
{#                                        <span class="fa fa-shopping-cart cart-icon">#}
{#                                            <span class="shopping-cart-items-count">3</span>#}
{#                                        </span>#}
{#                                    </a>#}
{##}
{#                                    <div class="nav-shop-cart">#}
{#                                        <div class="widget_shopping_cart_content">#}
{#                                            <ul class="cart_list product_list_widget ">#}
{#                                                <li class="mini_cart_item">#}
{#                                                    <a href="#" class="remove" title="Remove this item">×</a>#}
{#                                                    <a href="#">#}
{#                                                        <img width="160" height="160" src="{% static 'img/shop-item.png' %}" alt="image">#}
{#                                                        Shop Item 01#}
{#                                                    </a>#}
{##}
{#                                                    <span class="quantity">1 × <span class="woocommerce-Price-amount amount">#}
{#                                                        <span class="woocommerce-Price-currencySymbol">$</span>200.00</span>#}
{#                                                    </span>#}
{#                                                </li>#}
{#                                                <li class="mini_cart_item">#}
{#                                                    <a href="#" class="remove" title="Remove this item">×</a>#}
{#                                                    <a href="#">#}
{#                                                        <img width="160" height="160" src="{% static 'img/shop-item.png' %}" alt="image">#}
{#                                                        Shop Item 02#}
{#                                                    </a>#}
{##}
{#                                                    <span class="quantity">1 × <span class="woocommerce-Price-amount amount">#}
{#                                                        <span class="woocommerce-Price-currencySymbol">$</span>70.00</span>#}
{#                                                    </span>#}
{#                                                </li>#}
{#                                                <li class="mini_cart_item">#}
{#                                                    <a href="#" class="remove" title="Remove this item">×</a>#}
{#                                                    <a href="#">#}
{#                                                        <img width="160" height="160" src="{% static 'img/shop-item.png' %}" alt="image">#}
{#                                                        Shop Item 03#}
{#                                                    </a>#}
{##}
{#                                                    <span class="quantity">1 × <span class="woocommerce-Price-amount amount">#}
{#                                                        <span class="woocommerce-Price-currencySymbol">$</span>30.00</span>#}
{#                                                    </span>#}
{#                                                </li>#}
{#                                            </ul><!-- /.product_list_widget -->#}
{##}
{#                                            <p class="total">#}
{#                                                <strong>Subtotal:</strong>#}
{#                                                <span class="woocommerce-Price-amount amount">#}
{#                                                    <span class="woocommerce-Price-currencySymbol">$</span>300.00#}
{#                                                </span>#}
{#                                            </p>#}
{##}
{#                                            <p class="buttons">#}
{#                                                <a href="#" class="wprt-button small">View Cart</a>#}
{#                                                <a href="#" class="wprt-button small checkout">Checkout</a>#}
{#                                            </p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div><!-- /.nav-top-cart-wrapper -->#}
                            </div>
                        </div><!-- /#site-header-inner -->
                    </header><!-- /#site-header -->
                </div><!-- /#site-header-wrap -->

        {#<!-- Hero Background SlideShow -->#}
        {#<div id="hero-section" data-number="3" data-image-1="{% static 'img/slider/3.jpg' %}" data-image-2="{% static 'img/slider/4.jpg' %}" data-image-3="{% static 'img/slider/5.jpg' %}" data-effect="fade">#}
        {#    <div class="hero-content">#}
        {#        <div class="hero-title scroll" data-min="28px" data-max="80px">#}
        {#            <h1 class="font-roboto-300">ФАСАДЫ</h1>#}
        {#            <h1 class="font-roboto-300">Архитектурно-художественная подсветка</h1>#}
        {#            <h1 class="font-roboto-300">РАЗРАБОТКА ПРОЕКТНОЙ ДОКУМЕНТАЦИИ</h1>#}
        {#        </div>#}
        {##}
        {#        <div class="hero-text">#}
        {#            <p>Our experience ensures that your projects will be done right and with the upmost professionalism.</p>#}
        {#        </div>#}
        {##}
        {#        <div class="hero-button">#}
        {#            <a class="wprt-button rounded-3px" href="#">LEARN MORE</a>#}
        {#        </div>#}
        {#    </div><!-- /.hero-content -->#}
        {##}
        {#    <a class="arrow scroll-target" href="#services-section"></a><!-- change href value to ID of section you want to scroll down -->#}
        {#</div>#}




        {% block main_content %}

        {% endblock %}

        <!-- Footer -->
        <footer id="footer">
            <div id="footer-widgets" class="container style-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget_text">
                            <h2 class="widget-title"><span>НАША КОМПАНИЯ</span></h2>
                            <div class="textwidget">
                                <img src="{% static 'img/logo2_white_40.png' %}" width="116" height="40" alt="image" class="margin-top-5 margin-bottom-25" />
                                <p>Проектирование, строительство, монтаж, пуско-наладка, сдача в эксплуатацию </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="widget widget_links">
                            <h2 class="widget-title"><span>ССЫЛКИ</span></h2>
                            <ul class="wprt-links clearfix col2">
                                <li class="style-2 menu_compet cursor-pointer"><a>Копметенции</a></li>
                                <li class="style-2 menu_projects cursor-pointer"><a>Проекты</a></li>
                                <li class="style-2 menu_why_us cursor-pointer"><a>Почему мы?</a></li>
                                <li class="style-2 menu_directions cursor-pointer"><a>Деятельность</a></li>
                                <li class="style-2"><a href="{% url 'contacts' %}">Контакты</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget_information">
                            <h2 class="widget-title"><span>КОНТАКТЫ</span></h2>
                            <ul class="style-2">
                                <li class="address clearfix">
                                    <span class="hl">Адрес:</span>
                                    <span class="text">{{ company_address }}</span>
                                </li>
                                <li class="phone clearfix">
                                    <span class="hl">Телефон:</span>
                                    <span class="text">{{ company_tel }}</span>
                                </li>
                                <li class="email clearfix">
                                    <span class="hl">E-mail:</span>
                                    <span class="text"><a href="mailto:{{ company_email }}">{{ company_email }}</a></span>
                                </li>
                            </ul>
                        </div>

                        <div class="widget widget_spacer">
                            <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10"></div>
                        </div>

{#                        <div class="widget widget_socials">#}
{#                            <div class="socials">#}
{#                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>#}
{#                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>#}
{#                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>#}
{#                                <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>#}
{#                                <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bottom -->
        <div id="bottom" class="clearfix style-1">
            <div id="bottom-bar-inner" class="wprt-container">
                <div class="bottom-bar-inner-wrap">

                    <div class="bottom-bar-content">
                        <div id="copyright">DELLINA &copy; 2018
                        </div><!-- /#copyright -->
                    </div><!-- /.bottom-bar-content -->

{#                    <div class="bottom-bar-menu">#}
{#                        <ul class="bottom-nav">#}
{#                            <li><a href="#/">HISTORY</a></li>#}
{#                            <li><a href="#/">FAQ</a></li>#}
{#                            <li><a href="#/">EVENTS</a></li>#}
{#                        </ul>#}
{#                    </div><!-- /.bottom-bar-menu -->#}
                </div>
            </div>
        </div>

        </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animsition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fitText.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flexslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vegas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cube.portfolio.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alertify.min.js' %}"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rev-slider.js' %}"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rev-slider/js/extensions/revolution.extension.video.min.js' %}"></script>

    {% block script %}

    {% endblock %}


    </body>
</html>
